

@using Abp.Web.Mvc.Extensions
@using Emploee.Emploee.Dictionaries.Authorization
@model Emploee.Web.Areas.Mpa.Models.DictionaryManage.DictionaryViewModel
@{
    ViewBag.CurrentPageName = DictionaryAppPermissions.Dictionary;
    ViewBag.Title = L("Dictionary");

}

@section Styles{
		
	  	  	  	    
}


@* 注入所需JS *@
@section Scripts
{ 
    
    <script src="~/Areas/Mpa/Views/DictionaryManage/_CreateOrEditDictionaryModal.js"></script>
    <script src="~/Areas/Mpa/Views/DictionaryManage/Index.js"></script>
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>配置管理</span> 
                </h1>
            </div>
        
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button  id="ButtonReload" class="btn btn-primary blue"><i class="fa  fa-refresh"></i> @L("Refresh")</button>


        @if (IsGranted(DictionaryAppPermissions.Dictionary_CreateDictionary))
        {
            <button id="CreateNewDictionaryButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> 新增配置</button>
        }
    </div>
</div>

<div class="portlet light">
 @* 通用搜索功能 *@
<div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form>
                    <div class="input-group">
                        <input id="txtFilterText" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" >
                        <span class="input-group-btn">
                            <button id="GetDictionarysButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            <input type="hidden" id="hidParentCode" name="hidParentCode" value="@Model.ParentCode" />
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="portlet-body">
        <div id="toolbar">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "DictionaryManage")">总分类</a>
                </li>
                @foreach (var p in Model.ParentList)
                {
                    <li>
                        <i class="fa fa-circle"></i>
                        <a href="@Url.Action("Index", "DictionaryManage")?parentCode=@p.Code">@p.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div id="DictionarysTable"></div>
    </div>
</div>









 