
@using Abp.Extensions
@using Abp.Application.Services.Dto
@using Emploee.Web.Areas.Mpa.Models.Common.Modals
@using Emploee.Web.Areas.Mpa.Models.JobPostManage

@model CreateOrEditJobPostModalViewModel

@* 初始化头部 *@
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditJobPost") + ": " + Model.JobPost.CompanyId) : L("CreateJobPost")))


<!--html代码区域-->
<div class="modal-body">
    <form name="jobPostInformationsForm"   role="form" novalidate class="form-validation">
 <input type="hidden" name="Id" value="@Model.JobPost.Id" />
 <div class="row>
            <!--<div class="alert alert-info fs16 bold mt10">分节标题</div>-->
            
               
	     <div hidden="hidden">           
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="Id" value="@Model.JobPost.Id"/>
            }
        </div>
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control" type="text" name="CompanyId" value="@Model.JobPost.CompanyId"	 required 	 />			
            <label>@L("CompanyId")   <span class="required"> * </span>	 	</label>
        </div>
   
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control @(Model.JobPost.JobName.IsNullOrEmpty() ? "" : " edited")" type="text" name="JobName" value="@Model.JobPost.JobName"	 required 		maxlength="200"  />			
            <label>@L("JobName")   <span class="required"> * </span>	 	</label>
        </div>
   
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control  " type="text" name="SalaryMin" value="@Model.JobPost.SalaryMin"	 />			
            <label>@L("SalaryMin") </label>
        </div>
   
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control  " type="text" name="SalaryMax" value="@Model.JobPost.SalaryMax"	 />			
            <label>@L("SalaryMax") </label>
        </div>
   
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control @(Model.JobPost.Education.IsNullOrEmpty() ? "" : " edited")" type="text" name="Education" value="@Model.JobPost.Education"		maxlength="200"  />			
            <label>@L("Education") </label>
        </div>
   
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control @(Model.JobPost.Experience.IsNullOrEmpty() ? "" : " edited")" type="text" name="Experience" value="@Model.JobPost.Experience"		maxlength="200"  />			
            <label>@L("Experience") </label>
        </div>
   
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control @(Model.JobPost.JobAddress.IsNullOrEmpty() ? "" : " edited")" type="text" name="JobAddress" value="@Model.JobPost.JobAddress"		maxlength="400"  />			
            <label>@L("JobAddress") </label>
        </div>
   
	                  
               
	       <div class="  form-md-line-input form-md-floating-label no-hint">
            <textarea name="SkillRequire" auto-focus class="form-control  editable-input responsive" 	  rows="4">@Model.JobPost.SkillRequire</textarea>
            <label> @L("SkillRequire") </label>
        </div>

	                  
               
	       <div class="  form-md-line-input form-md-floating-label no-hint">
            <textarea name="JobDetail" auto-focus class="form-control  editable-input responsive" 	  rows="4">@Model.JobPost.JobDetail</textarea>
            <label> @L("JobDetail") </label>
        </div>

	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control @(Model.JobPost.JobSelect.IsNullOrEmpty() ? "" : " edited")" type="text" name="JobSelect" value="@Model.JobPost.JobSelect"		maxlength="200"  />			
            <label>@L("JobSelect") </label>
        </div>
   
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control @(Model.JobPost.JobType.IsNullOrEmpty() ? "" : " edited")" type="text" name="JobType" value="@Model.JobPost.JobType"		maxlength="200"  />			
            <label>@L("JobType") </label>
        </div>
   
	                  
               
	
                        <div class="md-checkbox">
												                            <input id="EditJobPost_isDelete" class="md-check" type="checkbox" name="isDelete"  value="true"  @Html.Raw(Model.JobPost.isDelete ? "checked=\"checked\"" : "")>

						                            <label for="EditJobPost_isDelete">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("isDelete")
                            </label>
                        </div>		 
	                  
            </div>
    </form>
</div>
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
 
