

@using Abp.Web.Mvc.Extensions
@using Emploee.Emploee.JobPosts.Authorization
@{
    /**/

    ViewBag.CurrentPageName = JobPostAppPermissions.JobPost;
    ViewBag.Title = L("JobPost");

}

@section Styles{

    <link href="~/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/libs/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/libs/layuiExtend-master/layui/css/layui.css" rel="stylesheet" />
    <link href="~/libs/layuiExtend-master/cascader/cascader.css" rel="stylesheet" />
    <link href="~/Areas/Mpa/Views/JobPostManage/index.css" rel="stylesheet" />
}


@* 注入所需JS *@
@section Scripts
{

    <script src="~/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/libs/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/libs/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
    <script src="~/libs/layuiExtend-master/layui/layui.js"></script>

    <script src="~/Areas/Mpa/Views/JobPostManage/_CreateOrEditJobPostModal.js"></script>
    @Html.IncludeScript("~/Areas/Mpa/Views/JobPostManage/Index.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("JobPost")</span> <small>@L("JobPostHeaderInfo")</small>
                </h1>
            </div>

        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ButtonReload" class="btn btn-primary blue"><i class="fa  fa-refresh"></i> @L("Refresh")</button>


        @if (IsGranted(JobPostAppPermissions.JobPost_CreateJobPost))
        {
            <button id="CreateNewJobPostButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateJobPost")</button>
        }


    </div>
</div>

<div class="portlet light">
    @* 通用搜索功能 *@
    <div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            @*<div class="portlet-input">*@


            <div class="row">
                <div class="layui-col-xs6 layui-col-md2">
                    <div class="layui-input-block">
                        <input type="text" id="a" class="maxlength-handler form-control" placeholder="职位" readonly="readonly">
                    </div>

                </div>
            </div>

            @*</div>*@
        </div>
    </div>

    <div class="portlet-body">
        <table id="JobPostsTable"></table>
    </div>

</div>

