
@using Abp.Extensions
@using Abp.Application.Services.Dto
@using Emploee.Web.Areas.Mpa.Models.Common.Modals
@using Emploee.Web.Areas.Mpa.Models.CompanyManage

@model CreateOrEditCompanyModalViewModel

@* 初始化头部 *@
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("企业信息"))


<!--html代码区域-->
<div class="modal-body">
    <form name="companyInformationsForm" role="form" novalidate class="form-validation" id="companyInformationsForm">
        <input type="hidden" name="Id" value="@Model.Company.Id" />
         
        <div class="row">
            <!--<div class="alert alert-info fs16 bold mt10">分节标题</div>-->

            <div class="col-sm-6 hidden">
                <div class="form-group">
                    <label class="col-sm-4 col-xs-4 control-label">@L("Id")</label>
                    <div class="col-sm-8 col-xs-8">
                        <input class="form-control inline w300  maxlength-handler " type="text" id="Id" name="Id" value="@Model.Company.Id" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 hidden">
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("CompanyID")</label>
                    <div class="col-sm-8">
                        <input class="form-control inline w300  maxlength-handler " type="text" id="CompanyID" name="CompanyID" value="@Model.Company.CompanyID" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4  col-xs-4 control-label">@L("CompanyName")</label>
                    <div class="col-sm-8 col-xs-8">
                        <input class="form-control inline w300  maxlength-handler required " type="text" id="CompanyName" name="CompanyName" maxlength="200" value="@Model.Company.CompanyName" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 col-xs-4 control-label">@L("CompanyEmail")</label>
                    <div class="col-sm-8 col-xs-8">
                        <input class="form-control inline w300  maxlength-handler " type="text" id="CompanyEmail" name="CompanyEmail" maxlength="200" value="@Model.Company.CompanyEmail" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 col-xs-4 control-label">@L("CompanyPhone")</label>
                    <div class="col-sm-8 col-xs-8">
                        <input class="form-control inline w300  maxlength-handler " type="text" id="CompanyPhone" name="CompanyPhone" maxlength="11" value="@Model.Company.CompanyPhone" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 col-xs-4 control-label">企业状态</label>
                    <div class="col-sm-8 col-xs-8">

                        <div class="icheck-amethyst icheck-inline">
                            <input type="radio" id="someRadioId1" name="isDelete" value="false" @(!Model.Company.isDelete ? "checked" : "") />
                            <label for="someRadioId1">招聘中</label>
                        </div>
                        <div class="icheck-amethyst icheck-inline ">
                            <input type="radio" id="someRadioId2" name="isDelete" value="true" @(Model.Company.isDelete ? "checked" : "") />
                            <label for="someRadioId2">停止招聘</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="col-sm-2 col-xs-2   control-label">地址</label>
                    @*<div class="col-sm-10  col-xs-10">
                    <input class="form-control inline w300  maxlength-handler " type="text" id="CompanyAddress" name="CompanyAddress" maxlength="200" value="@Model.Company.CompanyAddress" />
                    <span class="help-inline"></span>
                </div>*@
                    <div class="col-sm-10  col-xs-10">
                        <input class="form-control inline w300  maxlength-handler " type="text" id="CompanyPhone" name="CompanyPhone" maxlength="200" value="@Model.Company.CompanyPhone" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="form-group">
                    <label for="CompanyScaleEdit" class="col-sm-4 col-xs-4 control-label">@L("CompanyScale")</label>
                    <div class="col-sm-8 col-xs-8" style="min-height:53px">
                        @Html.DropDownList("CompanyScale", Model.CompanyScales.Select(a => a.ToSelectListItem()), new
                   {
                       @class = "form-control selectpicker  ",
                       data_live_search = "true",
                       id = "CompanyScaleEdit",

                        style = "text-align: center"
                   })
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">

                <div class="form-group">
                    <label for="ClassifyEdit " class="col-sm-4 col-xs-4 control-label ">@L("Classify")</label>
                    <div class="col-sm-8 col-xs-8" style="min-height:53px">
                        @Html.DropDownList("Classify", Model.classifys.Select(a => a.ToSelectListItem()), new
                   {
                       @class = "form-control selectpicker  ",
                       data_live_search = "true",
                       id = "ClassifyEdit",

                        style = "text-align: center"
                   })
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-6">
                <div class="form-group">
                    <label for="FinanicingEdit" class="col-sm-4 col-xs-4 control-label">@L("Finanicing")</label>
                    <div class="col-sm-8 col-xs-8" style="min-height:53px">
                        @Html.DropDownList("Finanicing", Model.Finanicings.Select(a => a.ToSelectListItem()), new
                   {
                       @class = "form-control selectpicker ",
                       data_live_search = "true",
                       id = "FinanicingEdit",

                        style = "text-align: center"
                   })
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 col-xs-4 control-label">@L("RegisterDate")</label>
                    <div class="col-sm-8 col-xs-8">
                        <input class="form-control date-picker inline w300 date-picker" type="text" id="RegisterDate" name="RegisterDate" value="@Model.Company.RegisterDate.ToString("yyyy-MM-dd")" disabled />
                        <span class="help-inline"></span>
                    </div>
                </div>

            </div>

            
            <div class="col-sm-12 col-xs-12" style=" margin-bottom: 15px">
                <div class="form-group">
                    <label class="col-sm-2 col-xs-2 control-label">@L("CompanyIntroduce")</label>
                    <div class="col-sm-10  col-xs-10 clearfix">
                        <textarea class="form-control input-xxlarge" rows="15" id="CompanyIntroduce" name="CompanyIntroduce" maxlength="800">@Model.Company.CompanyIntroduce</textarea>
                          
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
@*加入管理员权限*@
@*@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")*@
 
