
@using Abp.Extensions
@using Abp.Application.Services.Dto
@using Emploee.Web.Areas.Mpa.Models.Common.Modals
@using Emploee.Web.Areas.Mpa.Models.JobUrgentManage

@model CreateOrEditJobUrgentModalViewModel

@* 初始化头部 *@
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? ("关闭或编辑" + ": " + Model.JobUrgent.JobName) : "加急："+Model.JobUrgent.JobName))


<!--html代码区域-->
<div class="modal-body">
    <form name="jobUrgentInformationsForm"   role="form" novalidate class="form-validation">
 <input type="hidden" name="Id" value="@Model.JobUrgent.Id" />
 <div class="row">

     <div class="col-sm-6 hidden">
         <div class="form-group">
             <label class="col-sm-3 control-label">@L("Id")</label>
             <div class="col-sm-8">
                 <input class="form-control inline w300  maxlength-handler " type="text" id="Id" name="Id" value="@Model.JobUrgent.Id" @(Model.JobUrgent.Id != null ? "disabled" : "") />
                 <span class="help-inline"></span>
             </div>
         </div>
     </div>
     <div class="col-sm-6 hidden">
         <div class="form-group">
             <label class="col-sm-3 control-label">@L("JobId")</label>
             <div class="col-sm-8">
                 <input class="form-control inline w300  maxlength-handler  required" type="text" id="JobId" name="JobId" value="@Model.JobUrgent.JobId" />

             </div>
         </div>
     </div>
     <div class="col-sm-6  ">
         <div class="form-group">
             <label class="col-sm-3 control-label">职位</label>
             <div class="col-sm-8">
                 <input class="form-control inline w300  maxlength-handler   " type="text" id="JobId" name="JobId" value="@Model.JobUrgent.JobName" disabled />

             </div>
         </div>
     </div>
     <div class="col-sm-6 hidden">
         <div class="form-group">
             <label class="col-sm-3 control-label">@L("Weight")</label>
             <div class="col-sm-8">
                 <input class="form-control inline w300  maxlength-handler " type="text" id="Weight" name="Weight" value="@Model.JobUrgent.Weight" />
                 <span class="help-inline"></span>
             </div>
         </div>
     </div>

     <div class="col-sm-6">
         <div class="form-group">

             <label for="UrgentTypeEdit" class="col-sm-3 control-label">@L("UrgentType")</label>
             <div class="col-sm-8" style="min-height:53px">
                 @Html.DropDownList("UrgentType", Model.UrgentTypes.Select(a => a.ToSelectListItem()), new
            {
                @class = "form-control selectpicker  ",
                data_live_search = "true",
                id = "UrgentTypeEdit",

                 style = "text-align: center "


            })
             </div>
         </div>
     </div>
     <div class="col-sm-6 hidden">
         <div class="form-group">
             <label class="col-sm-3 control-label">@L("UrgentDate")</label>
             <div class="col-sm-8">
                 <input class="form-control date-picker inline w300 date-picker" type="text" id="UrgentDate" name="UrgentDate" value="@Model.JobUrgent.UrgentDate.Value.ToString("yyyy-MM-dd")" disabled />
                 <span class="help-inline"></span>
             </div>
         </div>
     </div>
     <div class="col-sm-6 hidden">
         <div class="form-group">
             <label class="col-sm-3 control-label">@L("UrgentLength")</label>
             <div class="col-sm-8">
                 <input class="form-control inline w300  maxlength-handler " type="text" id="UrgentLength" name="UrgentLength" value="@Model.JobUrgent.UrgentLength" disabled />
                 <span class="help-inline"></span>
             </div>
         </div>
     </div>
     <div class="col-sm-12">
         <div class="form-group" style="min-height:35px">
             <label class="col-sm-3 control-label">加急：</label>
             <div class="col-sm-8">

                 <div class="radio icheck-belizehole radio-inline">
                     <input type="radio" id="belizehole3" value="1" name="isDelete" @(!Model.JobUrgent.isDelete ? "checked" : "") @( Model.JobUrgent.State == 1 ? "disabled" : "") />
                     <label for="belizehole3">开启</label>
                 </div>
                 <div class="radio icheck-belizehole radio-inline">
                     <input type="radio" id="belizehole4" value="2" name="isDelete" @(Model.JobUrgent.isDelete ? "checked" : "") @( Model.JobUrgent.State == 1 ? "disabled" : "") />
                     <label for="belizehole4">关闭</label>
                 </div>
             </div>
         </div>
     </div>
     <div class="col-sm-12" @( Model.JobUrgent.Id == null ? "hidden" : "")>
         <div class="form-group" style="min-height:35px">
             <label class="col-sm-3 control-label">职位状态：</label>
             <div class="col-sm-8">

                 <div class="radio icheck-belizehole radio-inline">
                     <input type="radio" id="belizehole1" value="1" name="State" @(Model.JobUrgent.State == 1 ? "checked" : "") disabled />
                     <label for="belizehole1">待审批</label>
                 </div>
                 <div class="radio icheck-belizehole radio-inline">
                     <input type="radio" id="belizehole2" value="2" name="State" @(Model.JobUrgent.State == 2 ? "checked" : "") disabled />
                     <label for="belizehole2">已完成</label>
                 </div>
             </div>

         </div>
     </div>
     <div class="col-sm-12">
         <div class="panel panel-default">
             <div class="panel-heading">
                 <h3 class="panel-title">Panel title</h3>
             </div>
             <div class="panel-body">
                 Panel content
             </div>
         </div>
     </div>
 </div>
    </form>
</div>
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
 
