
@using Abp.Application.Services.Dto

@using Abp.Web.Mvc.Extensions

@using Abp.Extensions
@using Abp.Application.Services.Dto

@using Emploee.Web.Models.PersonInfoManage

@model CreateOrEditPersonInfoModalViewModel
@{

    ViewBag.Title = L("PersonInfo");

}

@section Styles{
    @Html.IncludeStyle("~/libs/icheck-bootstrap/css/icheck-bootstrap.css")
    <link href="~/libs/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/libs/EmploeeCss/EmploeeCss.css" rel="stylesheet" />
}


@* 注入所需JS *@
@section Scripts
{
    <script src="~/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/libs/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
    <script src="~/Views/PersonInfoManage/Index.js"></script>

}
<div class="portlet light">
    <form name="personInfoInformationsForm" role="form" novalidate class="form-validation">

        <div class="row">
            <!--<div class="alert alert-info fs16 bold mt10">分节标题</div>-->
            <div class="row">
                <div class="col-sm-6 col-xs-12 col-xs-12 hidden">
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-3 control-label ">@L("Id")</label>
                        <div class="col-sm-7 col-xs-7">
                            <input class="form-control MyInput inline    layui-btn-radius" type="text" id="Id" name="Id" value="@Model.PersonInfo.Id" disabled />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group  Mydiv">
                        <label class="col-sm-3 col-xs-3 control-label">姓名</label>
                        <div class="col-sm-7 col-xs-7 form-inline">
                            <input class="form-control MyInput inline      " type="text" id="Name" name="Name" maxlength="200" value="@Model.PersonInfo.Name"  />
                            <span style="color:red">*</span>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv">

                        <label class="col-sm-3 col-xs-3 control-label">@L("Age")</label>
                        <div class="col-sm-7 col-xs-7 form-inline">
                            <input class="form-control MyInput inline   " type="text" id="Age" name="Age" value="@Model.PersonInfo.Age" />
                            <span style="color:red">*</span>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv form-inline">
                         
                            <label class="col-sm-3 col-xs-3 control-label">@L("Sex")</label>

                            <div class="icheck-amethyst icheck-inline col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1 " >
                                <input type="radio" id="SexMan" name="Sex" value="@Model.PersonInfo.Sex"  @(Model.PersonInfo.Sex=="男" ? "checked" : "")/>
                                <label for="SexMan">男</label>
                            </div>
                            <div class="icheck-amethyst icheck-inline col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1">
                                <input type="radio" id="SexWoman" name="Sex" value="@Model.PersonInfo.Sex" @(Model.PersonInfo.Sex=="女" ? "checked" : "")/>
                                <label for="SexWoman">女</label>
                            </div>

                        
                        
                         
                    </div>
                </div>
                @*<div class="col-sm-6 col-xs-12">
                        <div class="form-group Mydiv">

                            <label class="col-sm-3 col-xs-3 control-label">@L("Sex")</label>
                            <div class="form-inline col-sm-7 col-xs-7 ">
                                <input class="form-control MyInput inline   " type="text" id="Sex" name="Sex" value="@Model.PersonInfo.Sex" />
                                <span style="color:red">*</span>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>*@
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv">
                        <label for="EducationEdit" class="col-sm-3 col-xs-3 col-xs-3 control-label">@L("Education")</label>
                        <div class="col-sm-7 col-xs-7 col-xs-7" style="min-height:53px">
                            @Html.DropDownList("Education", Model.Educations .Select(a => a.ToSelectListItem()), new
                       {
                           @class = "form-control MyInput selectpicker  ",
                           data_live_search = "true",
                           id = "EducationEdit",

                            style = "text-align: center"
                       })
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv">
                        <label class="col-sm-3 col-xs-3 control-label">联系电话</label>
                        <div class="col-sm-7 col-xs-7 form-inline">
                            <input class="form-control MyInput inline  " type="text" id="Phone" name="Phone" value="@Model.PersonInfo.Phone" />
                            <span style="color:red">*</span>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv">
                        <label class="col-sm-3 col-xs-3 control-label">@L("Email")</label>
                        <div class="col-sm-7 col-xs-7 form-inline">
                            <input class="form-control MyInput inline   maxlength-handler " type="text" id="Email" name="Email" maxlength="50" value="@Model.PersonInfo.Email" />
                            <span style="color:red">*</span>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv">
                        <label class="col-sm-3 col-xs-3 control-label">期望职位</label>
                        <div class="col-sm-7 col-xs-7">
                            <input class="form-control MyInput inline   maxlength-handler " type="text" id="ExpectPosition" name="ExpectPosition" maxlength="200" value="@Model.PersonInfo.ExpectPosition" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv">
                        <label for="ExpectTradesEdit" class="col-sm-3 col-xs-3 col-xs-3 control-label">期望行业</label>
                        <div class="col-sm-7 col-xs-7 col-xs-7" style="min-height:53px">
                            @Html.DropDownList("ExpectTrades", Model.ExpectTrades.Select(a => a.ToSelectListItem()), new
                       {
                           @class = "form-control MyInput selectpicker  ",
                           data_live_search = "true",
                           id = "ExpectTradesEdit",

                            style = "text-align: center"
                       })
                        </div>
                    </div>
                </div>

                @*<div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv">
                        <label class="col-sm-3 col-xs-3 control-label">@L("isOnJob")</label>
                        <div class="col-sm-7 col-xs-7">
                            <label style="line-height:25px;"><input class="ace" type="checkbox" id="isOnJob" name="isOnJob" value="true" @(Model.PersonInfo.isOnJob ? "checked" : "") /><span class="lbl">是</span></label>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                     
                </div>*@

            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv">
                        <label for="StateEdit" class="col-sm-3 col-xs-3 col-xs-3 control-label">@L("State")</label>
                        <div class="col-sm-7 col-xs-7 col-xs-7" style="min-height:53px">
                            @Html.DropDownList("State", Model.States .Select(a => a.ToSelectListItem()), new
                       {
                           @class = "form-control MyInput selectpicker  ",
                           data_live_search = "true",
                           id = "StateEdit",

                            style = "text-align: center"
                       })
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="form-group Mydiv">
                        <label for="JobYearEdit" class="col-sm-3 col-xs-3 col-xs-3 control-label">工作年限</label>
                        <div class="col-sm-7 col-xs-7 col-xs-7" style="min-height:53px">
                            @Html.DropDownList("JobYear", Model.JobYears .Select(a => a.ToSelectListItem()), new
                       {
                           @class = "form-control MyInput selectpicker  ",
                           data_live_search = "true",
                           id = "JobYearEdit",

                            style = "text-align: center"
                       })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group Mydiv">
                        <label class="col-sm-3 col-xs-3 colspan-xs-3 control-label">@L("Resume")</label>
                        <div class="col-sm-7 col-xs-7 colspan-xs-8 clearfix">

                            <textarea class="form-control MyInput input-xxlarge" rows="4" id="Resume" name="Resume">@Model.PersonInfo.Resume</textarea>
                        </div>
                    </div>
                </div>
            </div>


    </form>
</div>






