
@using Abp.Application.Services.Dto

@using Abp.Web.Mvc.Extensions
@using Emploee.Emploee.PersonInfos.Authorization
@{
    ViewBag.CurrentPageName = PersonInfoAppPermissions.PersonInfo;
    ViewBag.Title = L("PersonInfo");

}

@section Styles{


}


@* 注入所需JS *@
@section Scripts
{


    @Html.IncludeScript("~/Areas/Mpa/Views/PersonInfoManage/_CreateOrEditPersonInfoModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/PersonInfoManage/Index.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("PersonInfo")</span> <small>@L("PersonInfoHeaderInfo")</small>
                </h1>
            </div>

        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ButtonReload" class="btn btn-primary blue"><i class="fa  fa-refresh"></i> @L("Refresh")</button>


        @if (IsGranted(PersonInfoAppPermissions.PersonInfo_CreatePersonInfo))
        {
            <button id="CreateNewPersonInfoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreatePersonInfo")</button>
        }
    </div>
</div>

<div class="portlet light">
    @* 通用搜索功能 *@
    <div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form>
                    <div class="input-group">
                        <input id="PersonInfosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.FilterText">
                        <span class="input-group-btn">
                            <button id="GetPersonInfosButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="portlet-body">
        <div id="PersonInfosTable"></div>
    </div>
</div>









